header {
    background-color: #eac197;
    color: black;
    margin: 0;
    padding: 0 0 0 43%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#titu {
    display: flex;
    justify-content: center;
    font-size: 70px;
}

.icono {
    width: 40px;
    height: 40px;
    display: inline-block;
    padding-right: 20px;
}
.marco{
    display: flex;
   background-color: #eaccad;
    justify-content: center;
}
.den_mar {
    width: 300px;
    height: 300px;
    border-radius: 15%;
    margin: 20px;
}
.den_mar:hover {
    transform: scale(1.05);
}
.cont_img {
    display: flex;
    flex-wrap: wrap;
    max-width: 1050px;
    justify-content: center;
    margin: 2% 6% 4% 6%;
    border: 8px solid #f2965d;
    border-radius: 15px;
    padding: 2.5%;

}
#te {
    padding: 3% 6% 3% 6%;
    display: flex;
  background-color: #f3dbc3;
    border-top: 6px solid #f2965d;
    border-bottom: 6px solid #f2965d;
}

#lorem {
    display: flex;
    margin-left: 3%;
    margin-right: 3%;
    font-size: 30px;
    padding: 0px 3% 0 3%;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

#diu {
    width: 350px;
    height: auto;
}

.con_dos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4%;
    background-color: #fdecda;
    border-bottom: 6px solid #f2965d;
}

.mar_dos {
    border: 6px solid #f2965d;
    border-radius: 15px;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2%;
}

.den_mar2 {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

#au {
    font-size: 40px;
    margin: 10px 0 0 0;
}

body {
    margin: 0;
}

footer {
    display: flex;
    background-color: #f6bc6b;
    color: black;
    font-size: 25px;
    margin: 0;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}

.fot {
    margin: 8px;
}