header {
    background-color: bisque;
    color: black;
    margin:0;

    padding: 0 0 0 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    }
    #titu{
        display: flex;
        justify-content: center;
        font-size: 70px;
    }
    .icono {
        width: 40px;
        height: 40px;
        display: inline-block;
        padding-right: 20px;
    }
    .marco {
    border: 6px solid rgb(244, 3, 3);
    border-radius: 15px;
    margin: 2% 6% 4% 6%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-between ;
    padding-top: 2.5%;
    }
    .den_mar {
        width: 300px;
        height: 300px; 
        align-items: space-between;
        margin: 0% 0% 8% 1%;
        border-radius: 15%;
    }
    .den_mar:hover{
       transform: scale(1.05);
    }
.cont_img{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    align-items: space-between;
    padding: 10px;
    
}
#te {
    padding-left: 3%;
    
    display: flex;
    padding-bottom: 3%;
}
#lorem{
    display: flex;
    margin-left: 3%;
    margin-right: 3%;
    font-size: 30px;
    padding: 0px 3% 0 3%;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
#diu{
    width: 350px;
    height: auto;
}
.con_dos{
    display: flex;
     justify-content: center; 
     align-items: center;
     margin: 4%;
}
.mar_dos{
    border: 6px solid rgb(244, 3, 3);
    border-radius: 15px;
    width: auto;
        height: auto;
        display: flex; 
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 2% 2% 2% 2%;
        
}
.den_mar2{
    width: 300px;
        height: 300px; 
        
        border-radius: 50%;
        
        
}
#au{
    font-size:40px;
    margin: 10 0 0 0 ;
}
    body{
        margin: 0;
        
    }
    footer{
        display: flex;
        background-color: black;
       color: white;
       font-size: 25px;
       margin: 0 0 0 0;
       flex-direction: column;
       align-items: center;

    }
    .fot{
        margin: 0.8%;
    }